---

---

<div class="bg-vue-green">
  <div
    class="mx-auto max-w-2xl px-4 py-16 text-center sm:px-6 sm:py-20 lg:px-8"
  >
    <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
      <span class="block">¡Únete a nuestra comunidad!</span>
    </h2>
    <p class="mt-4 text-lg leading-6 text-white/90">
      Forma parte de la comunidad Vue.js más activa de Colombia y mejora tus
      habilidades como desarrollador.
    </p>
    <a
      href="https://bit.ly/3E4PWlY"
      target="_blank"
      rel="noopener noreferrer"
      class="mt-8 inline-flex w-full items-center justify-center rounded-md border border-transparent bg-white px-5 py-3 text-base font-medium text-vue-green hover:bg-gray-50 sm:w-auto"
    >
      Únete a Discord
    </a>
  </div>
</div>
